site_name: DSDL中文文档
site_author: OpenDataLab
site_description: >-
  基于新一代AI数据集标注语言DSDL（Data Set Description Language），打通AI数据鸿沟，便捷高效使用数据

repo_name: opendatalab/dsdl-docs
repo_url: https://github.com/opendatalab/dsdl-docs
  
#高亮配置, mkdown公式拓展
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences 
  - pymdownx.details
  - pymdownx.arithmatex

#java公式拓展
extra_javascript:
  - mathjax-config.js
  - https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML

#提示框配置
theme:
  name: material
  custom_dir: material/.overrides
  language: zh
  features:
    - navigation.tabs
    # - navigation.instant
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

#主页导航
nav:
  - 主页: index.md
  - 入门指南: 
    - 整体介绍: getting_started/overview.md
    - 安装部署: getting_started/install.md
    - 快速上手: getting_started/quick_start.md
  - 用户教程:
    - 教程介绍: tutorials/overview.md
    - 数据集准备: tutorials/dataset_download.md
    - 数据集配置: tutorials/config/location_config.md
    - 数据集可视化: tutorials/visualization.md
    - 数据集分析: tutorials/dataset_analysis.md
    - 模型训练&推理:
      - OpenMMLab: tutorials/train_test/openmmlab.md
      - Pytorch: tutorials/train_test/pytorch.md
      - Tensorflow: tutorials/train_test/tensorflow.md
    # - 模型推理: tutorials/training/model_training.md
    # - 数据/模型分析: 
      # - 基本介绍: tutorials/analysis/result_analysis.md
    - 数据集分发: tutorials/dataset_distribution.md
    - 高阶教程:
      - 高阶教程介绍: tutorials/advanced/overview.md
      - DSDL数据集标准化:
        - DSDL数据集模板制定: tutorials/advanced/dsdl_define.md
        - DSDL数据集格式转换: tutorials/advanced/dsdl_convert.md
        - DSDL数据集验证: tutorials/advanced/dsdl_check.md
        - 自定义DSDL Field: tutorials/advanced/dsdl_extend.md
      - DSDL DataLoader开发: tutorials/advanced/dsdl_dataloader.md
  - DSDL语言教程:
    - 语言特性: dsdl_language/overview.md
    - 语言定义: 
      - 快速入门: dsdl_language/lang/get_started.md
      - 基本数据类型: dsdl_language/lang/basic_types.md
      - 非结构化对象类: dsdl_language/lang/unstructured_objs.md
      - 结构类: dsdl_language/lang/structs.md
      - 类别域: dsdl_language/lang/class_dom.md
      - 数据模块: dsdl_language/lang/data_section.md
      - 链接库: dsdl_language/lang/libraries.md
    - 实例演示: 
      - 计算机视觉: dsdl_language/examples/cv.md
  - DSDL任务模板:
    - 任务模板介绍: dsdl_template\overview.md
    - 计算机视觉:
      - 图像分类: dsdl_template/cv/cv_classification.md
      - 目标检测: dsdl_template/cv/cv_detection.md 
      - 图像分割: dsdl_template/cv/cv_segmentation.md
      - 关键点检测: dsdl_template/cv/cv_keypoint_detection.md
      - 目标跟踪: dsdl_template/cv/cv_object_tracking.md
      - 旋转目标检测: dsdl_template/cv/cv_rotated_detection.md 
      - 光学字符识别(OCR): dsdl_template/cv/cv_ocr.md
  - API接口文档:
    - Field概述: api_reference/fields_overview.md
plugins:
  - search:
      lang: 
        - en
        - zh
  - i18n:
      default_language: zh
      languages:
        en: 
          name: English
          build: true
          site_name: DSDL Document
        zh: 
          name: 中文
          build: true
          site_name: DSDL中文文档

      nav_translations:
        en:
          # 主页介绍
          主页: Home
          # 入门指南
          入门指南: Get Started

          安装部署: Install
          整体介绍: overview
          快速上手: Quick Start
          # 用户教程
          用户教程: Tutorials

          教程介绍: Introduction
          数据集下载: Dataset Download
          数据集配置: Dataset Config
          数据集分析: Dataset Analysis
          训练&测试: Training & Testing
          数据集分发: Dataset Distribution
          高阶教程: High-Level Tutorial
          # DSDL语言教程 
          DSDL语言教程: DSDL Specification

          语言特性: Overview
          语言定义: Language
          快速入门: Get Started
          基本数据类型: Basic Types
          非结构化对象类: Unstructured Object Classes
          结构类: Struct Classes
          类别域: Class Domain
          数据模块: Data Section
          链接库: Libraries
          实例演示: Example
          计算机视觉: Computer Vision
          # DSDL任务模板
          DSDL任务模板: DSDL Template

          图像分类: Image Classification
          目标检测: Object Detection
          图像分割: Image Segmentation
          关键点检测: Keypoint Detection
          目标跟踪: Object Tracking
          旋转目标检测: Rotated Object Detection
          光学字符识别(OCR): Optical Character Recognition (OCR)
          
          # API接口文档
          API接口文档: API Docs
          Field概述: Field Overview
          自定义DSDL Field: Field Extend


# extra:
#   alternate:

#     # Switch to English
#     - name: English
#       link: <your-site>/en/
#       lang: en

#     # Switch to German
#     - name: Deutsch
#       link: <your-site>/de/
#       lang: de

#     # Switch to Japanese
#     - name: 日本語
#       link: <your-site>/ja/
#       lang: ja
