# Documentation static site generator & deployment tool
mkdocs>=1.1.2

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material>=5.4.0

# Add multi language plugin
mkdocs-static-i18n

# Generate the api reference according the annotations in dsdl
mkdocstrings[python]

# dsdl install
dsdl==0.1.10.7